<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
<h1 th:text="|Cześć|"></h1>
<form th:action="@{/lista}">
    <button type="submit" class="btn btn-warning">Wyświetl listę</button>
</form>
<br>
<form th:action="@{/powrot}" >
<button class="btn btn-primary" type="submit"  th:text="|Wizyty: ${visits}|">

</button>
</form>
</body>
</html>